[submodule "sleepyleo-website"]
	path = sleepyleo-website
	url = https://github.com/SleepyLe0/sleepyleo-website.git
[submodule "sleepyleo-admin"]
	path = sleepyleo-admin
	url = https://github.com/SleepyLe0/sleepyleo-admin.git
